@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    color: #ededed;
    background: #081b29;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background-color: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: RouleDroit 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: RouleHaut .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover{
    color: #3ef;
}
.Home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(../img/TBC_P\ \(160\).jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: RouleBas 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
    margin: 30px;
    animation: RouleHaut 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
    color: #3ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: RouleDroit 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 18px;
    font-weight: 1;
    opacity: 0;
    animation: RouleGauche 1s ease forwards;
    animation-delay: 1s;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #3ef;
    border-radius: 50%;
    font-size: 20px;
    color: #3ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: RouleGauche 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background-color: #3ef;
    color: #081b29;
    box-shadow: 0 0 20px #3ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #3ef;
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: RouleHaut 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.back{
    position: absolute;
    top: 800px;
    right: 300px;
    left: 30px;
    background-color: #08161f;
    border-radius: 100%;
    width: 430px;
    height: 430px;
    box-shadow: 1px 1px 50px #0ef;
    border: 5px solid;
    border-color: #3ef;
    animation: RouleDroit 1s ease forwards;
}
.about-img img{
    position: relative;
    left: 69px;
    top: 40px;
    padding-bottom: 20%;
    max-width: 360px;
    height: auto;
    width: 100%;
    z-index: 1;
    border-radius: 100%;
    animation: RouleDroit 1s ease forwards;
}
.about-text{
    position: relative;
    right: 100px;
}
.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: #3ef;
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 18px;
    font-weight: 50;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.services-list{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.sous-titre{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}
.sous-titre span{
    color: #0ef;
}
.container{
    padding: 90px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.lire{
    display: inline-block;
    padding: 12px 28px;
    background: #3ef;
    border-radius: 40px;
    font-size: 10px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: RouleHaut 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef
}
.lire:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan
}
.services-list div:hover{
    transform: translateY(-10px);
}















@keyframes RouleDroit{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes RouleGauche{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes RouleHaut{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes RouleBas{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
